:root {
  --vcn-c-c-bg-color: #fff;
  --vcn-c-button-bg-color: #2c3e50;
  --vcn-c-button-border-color: #2c3e50;
  --vcn-c-button-text-color: #fff;
  --vcn-c-button-hover-bg-color: #1e2b37;
  --vcn-c-button-hover-border-color: #1a252f;
  --vcn-c-button-active-bg-color: #1a252f;
  --vcn-c-button-active-border-color: #151e27;
  --vcn-c-button-active-box-shadow: rgba(76, 91, 106, 0.5) 0 0 0 0.2rem;

  --vcn-c-border-color: #ddd;
  --vcn-c-calendar-cell-width: 100px;
  --vcn-c-today-text-color: #409eff;
  --vcn-c-a-hover-border-color: #151e27;
  --vcn-c-selected-text-color: #409eff;
  --vcn-c-calendar-selected-bg-color: #ecf5ff;

  --vcn-c-daygrid-event-dot-width: 8px;
  --vcn-c-event-border-color: #3788d8;
  --vcn-c-event-bg-color: #3788d8;
  --vcn-c-event-text-color: #fff;
}
