:root {
  --vcn-bg-color: #fff;
  --vcn-button-bg-color: #2c3e50;
  --vcn-button-border-color: #2c3e50;
  --vcn-button-text-color: #fff;
  --vcn-button-hover-bg-color: #1e2b37;
  --vcn-button-hover-border-color: #1a252f;
  --vcn-button-active-bg-color: #1a252f;
  --vcn-button-active-border-color: #151e27;
  --vcn-button-active-box-shadow: rgba(76, 91, 106, 0.5) 0 0 0 0.2rem;

  --vcn-border-color: #ddd;
  --vcn-calendar-cell-width: 100px;
  --vcn-today-text-color: #409eff;
  --vcn-a-hover-border-color: #151e27;
  --vcn-selected-text-color: #409eff;
  --vcn-calendar-selected-bg-color: #ecf5ff;

  --vcn-daygrid-event-dot-width: 8px;
  --vcn-event-border-color: #3788d8;
  --vcn-event-bg-color: #3788d8;
  --vcn-event-text-color: #fff;
}
